#about-me{
    width: 100vw;
    .about-me-inner{
        max-width: 1580px;
        height: 65rem;
        margin: auto;
        padding: 0px 20px ;
        @include flex(center,flex-start,row);
        @include breakpoint-down(tablet){
            @include flex(flex-start,center,column);
            } 
        @include breakpoint-down(small){
            height: 75rem
        }     
        //background-color: black;
        .about-me-content-left{
            @include flex(flex-start,flex-start,column);
            flex: 1;
            position: relative;
            height:65rem;
            &::before{
                content: "02.";
                font-family: 'PT Mono', monospace;
                position: absolute;
                bottom: 0;
                color: $fontGrey;
                font-size: 3rem;
                @include breakpoint-down(tablet){
                display: none;
                }
            }
            @include breakpoint-down(xlarge){
                flex: 1.5;
            }
            @include breakpoint-down(tablet){
                flex: 1;
                margin: auto;
                align-items: center;
            }
            @include breakpoint-down(small){
                flex: 9;
            }
            .creative-top{
                font-size: 2.5rem;
                font-weight: 700;
                color: $white;
                line-height: 1;
                @include breakpoint-down(small){
                    font-size: 2rem;
                    }
                    .creative-design{
                        font-size: 3.7rem;
                        font-weight: 600;
                    color: $globalColor;
                    @include breakpoint-down(small){
                        font-size: 2.3rem;
                        }
                }
            }
            .creative-center{
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1;

            }
            .creative-bottom{
                font-size: 1.5rem;
                line-height: 1;
                font-weight: 700;
                color: $white;
                @include flex(flex-start,center,row);
                @include breakpoint-down(small){
                    font-size: 1.3rem;
                    }
                    .creative-design-second{
                        font-size: 2.2rem;
                        font-weight: 300;
                        @include flex(center,center,row);
                        font-weight: 600;
                        color: $globalColor;
                        font-family: Arial, Helvetica, sans-serif;
                        @include breakpoint-down(medium){
                            font-size: 2rem;
                            }
                        @include breakpoint-down(small){
                            font-size: 1.4rem;
                            }
                    }
            }
            .hello{
                width:inherit;
                height: 600px;
                margin: auto;
                background-repeat: no-repeat;
                margin-top: 10%;
                filter: brightness(0.89);
                position: relative;
                // @include breakpoint-down(medium){
                //     width: inherit;
                //     height: 900px;
                // }
                @include breakpoint-down(tablet){
                    margin-top: 0%;
                    top: -4%;
                    @include flex(center,center,row)
                }   
                img{
                    width: 85%;
                    background-position:center ;
                }
                @include breakpoint-down(small){
                    top: 0%;
                    height: 100%;
                    @include flex(center,center,row);
                    img{
                        width: 100%;

                    }
                }
            }
        }
        .about-me-content-right{
            flex: 1;
            @include flex(flex-start,flex-end,column);
            padding: 14% 10% 0% 10%;
            height: inherit;
            position: relative;
            @include breakpoint-down(tablet){
                gap: 50px;
                }
            @include breakpoint-down(small){
                    @include flex(flex-start,flex-end,column);
                    flex: 1;
                    gap: 60px;
                }
            .about:nth-child(1){
                flex: 1;
                height: 100px;
                font-size: 1.2rem;
                position: relative;
                line-height: 1;
                text-align: justify;
                text-indent: -1px;
                top: 10px; 
                padding-right: 40%;
                margin-bottom: 0%;
                &::before{
                    content:"";
                    background: url(/assests/about-elipse-style.png);
                    position: absolute;
                    width: 250px;
                    height: 80px;
                    top:-100px;
                    left: -4rem;
                    background-repeat: no-repeat;
                    background-size: 100% 90%;
                    @include breakpoint-down(small){
                        height: 70px;
                        top: -70px;
                        width: 240px;
                    }
                }
                @include breakpoint-down(xlarge){
                    padding-right: 0%;
                }
                @include breakpoint-down(tablet){
                    padding-right: 0%;
                }
                @include breakpoint-down(small){
                    padding-right:0%;
                    height: inherit;
                    
                }
            }
            .about:nth-child(2){
                flex: 1;
                height: 100px;
                font-size: 1.2rem;
                position: relative;
                line-height: 1;
                text-align: justify;
                text-indent: -1px;
                padding-left:35% ;
                &::after{
                    content:"";
                    background: url(/assests/about-elipse-style.png);
                    position: absolute;
                    width: 380px;
                    height: 90px;
                    top: -100px;
                    transform: scaleX(-1);
                    right: -4rem;
                    background-repeat: no-repeat;
                    background-size: 66% 82%;
                    // @include breakpoint-down(medium){
                        //     height: 50px;
                        //     width: 240px;
                        //     right: 10rem;
                        // }
                        
                        @include breakpoint-down(small){
                            height: 70px;
                            top: -65px;
                            width: 350px;
                        }
                    }
                    @include breakpoint-down(xlarge){
                        padding-left: 0%;
                    }
                    @include breakpoint-down(tablet){
                        padding-left: 0%;
                    }
                    @include breakpoint-down(small){
                        padding-left:0%;
                        height: inherit;
                        
                    }
                }
            .about:nth-child(3){
                flex: 1;
                height: 100px;
                font-size: 1.2rem;
                position: relative;
                line-height: 1;
                text-align: justify;
                text-indent: -1px;
                padding-right:40% ;
                &::after{
                    content:"";
                    background: url(/assests/about-elipse-style.png);
                    position: absolute;
                    width: 380px;
                    height: 90px;
                    top: -100px;
                    left: -4rem;
                    background-repeat: no-repeat;
                    background-size: 66% 82%;
                    @include breakpoint-down(small){
                        height: 70px;
                        top: -60px;
                        width: 350px;
                    }
                }
                @include breakpoint-down(xlarge){
                    padding-right: 0%;
                }
                @include breakpoint-down(tablet){
                    padding-right: 0%;
                }
                @include breakpoint-down(small){
                    padding-right:0%;
                    height: inherit;
                    
                }
            }
            .about-me-text{
                font-size: 3.5rem;
                letter-spacing: -2px;
                position: relative;
                bottom: 10px;
                right: 0;
                flex: 0.1;
                word-spacing: 0px;
                //font-family: 'PT Mono', monospace;
                font-weight: 600;
                color: $fontGrey2;
                background-image: linear-gradient(to bottom ,transparent 0%, transparent 95% , $globalColor 95% ,$globalColor 100%);
                background-size: 15% 100%;
                background-position-x: left;
                background-repeat: no-repeat;
                transition: background-size 500ms;
                &:hover{
                    background-size: 100% 100%;
                }
                @include breakpoint-down(small){
                    @include flex(flex-end,center,row);
                    font-size: 3rem;
                }
            }
        }
    }
}