html{
    font-size:100%;
    box-sizing: border-box;
    overflow-x: hidden;
    @include breakpoint-up(large){
        font-size: 90%;

    }
    @include breakpoint-down(xlarge){
        font-size: 80%;
    }
    @include breakpoint-down(medium){
        font-size: 70%;
    }
    @include breakpoint-down(tablet){
        font-size: 90% ;
    }
    @include breakpoint-down(small){
        font-size: 78%;
    }
    @media (max-width:400px) {
        font-size: 67%;
    }
}
*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', sans-serif;
    line-height: 1.3;
    overflow-x: hidden;
    font-weight: 300;
    color: $fontGrey;    
    background-color: $backgroundColor;
    user-select: none;
    
    
}
a,:visited,:hover{
    text-decoration: none;
}