#home{
    width: 100vw;
    
    .home-inner{
        max-width: 1980px;
        margin: auto;
        @include breakpoint-down(small){
            margin-bottom: 30px;
        }
        
    }

}
.navbar{
    max-width: 1580px;
    margin: auto;
    height: 9.375rem;
    padding: 0px 20px ;
    //background: rgb(249, 249, 249);
    z-index: 999;
    @include flex(center,center,row);
    @include breakpoint-down(small){
        height:4.2rem;
        margin-bottom: 1rem;
    }
    .logo{
        //background-color: aquamarine;
        width: 10%;
        flex: 1 1;
        position: relative;
        top: 8px;
        @include breakpoint-down(tablet){
            width: 5%;
        }
        // @include breakpoint-down(medium){
        //     flex: 1.2;
        // }
        &::after{
            content: "";
            background-color: $globalColor;
            width: 2px;
            height: 3.7rem;
            position: absolute;
            top: 0px;
            left: 7.3rem;
            transform: rotate(27deg);
            animation-name: logo_slash;
            animation-duration:0.8s;
            overflow: hidden;

        }
            color:$fontGrey;
        .logo-sachin{
            //color: black;
            font-size: 2rem;
            line-height:0.8;
            width: 7.3rem;
            //background-color: blueviolet;
            animation-name: logo_sachin;
            animation-duration:1s;
            position: relative;
            right: 0;
            overflow: hidden;
            @include breakpoint-down(xlarge){
                line-height: 1;
            }

            @keyframes logo_slash {
                0%{
                left:0rem;
                opacity: 0;
                height: 0;        
                }
                25%{
                    height: 3.7rem;
                    opacity: 25%;
                    // left: ;
                }
                50%{
                    opacity: 90%;
                }
                
                100%{
                    left: 7.3rem;
                    opacity: 100%;
                }
            }
            @keyframes logo_sachin {
                0%{
                opacity: 0;right: -7.3rem;
                // margin-left: -7.3rem;
                }
                25%{
                    opacity: 0%;
                }
                50%{
                    opacity:0%;
                }
                
                100%{
                    opacity: 100%;
                    right: 0;
                    
                }
                
            }
        }
        .logo-kumar{
            font-weight:800;
            font-size: 2.1rem;
            margin-left: 7.3rem;
            //background-color: aqua;
            line-height: 0.8;
            animation-name: logo_kumar;
            animation-duration:1.4s;
            position: relative;
            right: 0;
            overflow: hidden;
        }
        @keyframes logo_kumar {
            0%{
            opacity: 0;left: -7.3rem;
            // margin-left: -7.3rem;
            }
            35%{
                opacity: 0%;
            }
            70%{
                opacity:0%;
            }
            
            100%{
                opacity: 100%;
                left: 0;
                
            }
        }
    
    }
    .menu{
        flex: 2 1;
        //background-color: azure;
        @include flex(space-evenly,center,row);
        .menu-items{
                background-image: linear-gradient(to bottom ,transparent 0%, transparent 90% , $globalColor 90% ,$globalColor 100%);
                background-size: 0% 100%;
                background-position-x: right;
                background-repeat: no-repeat;
                transition: background-size 400ms;
                height: 1.4rem;
                border-radius: 18px;
                &:hover{
                    background-size: 100% 100%;
                    background-position-x:left ;
                }  
            a{color: $fontGrey;
                font-weight: 300;
                font-family: Arial, Helvetica, sans-serif;
                //font-family: 'PT Mono', monospace;
                @include breakpoint-up(large){
                    font-size: 0.98rem;
                }
                // @include breakpoint-down(medium){
                //     font-size: 0.8rem;
                // }
                // @include breakpoint-down(small){
                //     font-size: 2rem;
                // }
                &:hover{
                    color:$globalColor;
                }
                &:hover .span-num{
                    color: $fontGrey;
                   

                }
                .span-num{
                    color: $globalColor;
                }
            }
        }
        @include breakpoint-down(tablet){
            //display: block;
            position: absolute;
            @include flex(center,center,column);
            width:100vw;
            clip-path: circle(0% at 95.3% 8.5% );
            height: 80vh;
            background: rgba(0, 0, 0, 0.3);
            top:2.5rem;
            border-radius: 20px;
            gap:2;
            right: 0;
            backdrop-filter:blur(10px);
            transition: all 0.4s ease-in;
            z-index:999;
            .menu-items{
                z-index:999;
                margin-bottom: 20px;
                opacity: 0;

                transition: all 0.5s ease-in;
                a{
                    pointer-events: none;
                }
            }
        }
        @include breakpoint-down(small){
            width:100vw;
            height:100vh;
            top: 0;
            z-index:999;
            color: $white;
            font-size: 1.5rem;
            .menu-items{
                height: 2rem;
            }
            .span-num{
                display: none;
            }

        }
    }
    .mail-git-dark-box{
        flex: 1 ;
        //background-color: aquamarine;
        @include flex(flex-end,center,row);
        @include breakpoint-down(small){
            display: none;
        }
        .email{
            margin-right: 15px;
            //background-color: red;
            @include flex(flex-end,center,row);
            i{
                width: 100%;
                color: $globalColor;
                font-size: 1.4rem;
                //background-color: aqua;
                &:hover{
                    transform: scale(1.2);
                    color:$white;
                }
            }
        }
        a{
            color: $globalColor;
        .github{
            margin-right: 15px;
            border: 1.5px solid $globalColor;
            padding: 10px 20px  ;
            border-radius: 8px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            font-size: 1.4rem;
            transition:0.3s all ease-in; 
            @include flex(center,center,row);
            .span-github{
                font-size: 0.8rem;
                padding-left: 10px;
                
            }
            &:hover{
                border-color: $black;
                background-color: $globalColor;
                color: $black;
            }
        }
    }
        .theme-mode{
            margin-right: 15px;
            color: $globalColor;
            height:100%;
            &:hover{
                color:$white;
                transform: scale(1.1);
            }
        }
    }
    
}
.menu-2{
    clip-path: circle(100% ) !important;
    a{
        pointer-events:visible !important;
    }
}
.link-effect{
    opacity: 100% !important;
}
//************hamburger**********

.hamburger{
    height: 1.5rem;
    width: 32px;
    // background-color: azure;
    display: none;
    .bars:nth-child(1){
        background-color: $globalColorSecond;
        height: 3px;
        width: 12px;
        margin-bottom: 6px;
        border-radius: 50px;
        transition: all 0.4s ease;
    }
   display: none;
   .bars:nth-child(2){
       background-color: $globalColorSecond;
       height: 3px;
       width: inherit;
       margin-bottom: 6px;
       border-radius: 50px;
       transition: all 0.3s ease;
    }
    display: none;
    .bars:nth-child(3){
        background-color: $globalColorSecond;
        height: 3px;
        width: 25px;
        margin-bottom: 6px;
        border-radius: 50px;
        transition: all 0.4s ease;
    }
    
    @include breakpoint-down(tablet){
        display: block;
        z-index: 999;
    }
}
.active {
    &:nth-child(1){
        transform: rotate(125deg) translateY(-10px);
        background-color: $globalColor;
        width: 32px !important;
    }
    &:nth-child(2){
        width: 32px !important;
        margin-left:20px;
        opacity: 0;
        background-color: $globalColor;
    }
    &:nth-child(3){
        width: 32px !important;
        transform: rotate(-125deg) translateY(10px);
        background-color: $globalColor;
    }
}

//****************end of navbar******************

//*****************home-content*********************

.home-content-image{
    max-width: 1580px;
    padding: 0px 20px;
    margin: auto;
    height: 59rem;
    //background-color: aliceblue;
    @include flex(center,center,row);
    @include breakpoint-down(xlarge){
        height: 59rem;
    }
    @include breakpoint-down(medium){
        //height: 52rem;    
        // background-color: aliceblue;
    }    
    @include breakpoint-down(tablet){
        @include flex(center,center,column);
        height:55rem;
    }
    @include breakpoint-down(small){
        @include flex(center,center,column);
        height: 70rem;
    }
    .content-left{
        flex: 1;
        @include flex(center,flex-start,column);
        //background-color: red;
        height: inherit;
        position: relative;
        @include breakpoint-down(xlarge){
            flex: 1;
        }
        @include breakpoint-down(medium){
            flex: 1.3;
        }
        @include breakpoint-down(tablet){
            flex: 1;
            @include flex(flex-end,flex-start,column);
        }
        
        &::before{
            content: "01.";
            font-family: 'PT Mono', monospace;
            position: absolute;
            bottom: 0;
            color: $fontGrey;
            font-size: 3rem;
            @include breakpoint-down(tablet){
            display: none;
            }        
        }
        .introduce-name{
            font-size: 2.2rem;
            position: relative;
            width: 100%;
            font-family: 'Noto Serif KR', serif;
            @include breakpoint-down(xlarge){
                font-size: 2rem;
            }
            @include breakpoint-down(medium){
                font-size: 1.5rem;
            }
            @include breakpoint-down(tablet){
                font-size: 2rem;
            }
            @include breakpoint-down(small){
                line-height: 1;
                font-size: 1.5rem;
            }
            // &::after{
            //     content: "";
            //     position: absolute;
            //     height: 100%;
            //     width: 100%;
            //     left: 0;
            //     border-left: 2px solid $fontGrey;
            //     background-color: $backgroundColor;
            //     animation: slide 4s steps(19);
            // }
            .span-sachinKumar{
                font-size: 3.7rem;
                color: $globalColor;
                font-family: 'Noto Serif KR', serif;
                font-weight: 500;
                @include breakpoint-down(xlarge){
                    font-size: 3.1rem;
                }
                @include breakpoint-down(medium){
                    font-size: 2.4rem;
                }
                @include breakpoint-down(tablet){
                    font-size: 3.5rem;
                }
                @include breakpoint-down(small){
                    display: flex;
                    flex-direction: column;
                    font-size: 3.2rem;
                }

            }
            
        }
        .works-define{
            font-size: 1.2rem;
            //background-color: red;
            @include breakpoint-down(tablet){
                font-size: 1.5rem;
            }
            ul{
                li{
                    position: relative;
                    list-style-type: none;
                    //background-color: grey;

            //      &::after{
            //     content: "";
            //     position: absolute;
            //     height: 100%;
            //     width: 100%;
            //     left: 0;
            //     border-left: 2px solid $fontGrey;
            //     //background-color: $backgroundColor;
            //     animation: slide 4.3s steps(10);
            // }
                }
            }
        }
        .my-thought{
                position: relative;
              font-family: 'PT Mono', monospace;
              //background-color: aqua;
              //padding:0px 5px 0px 8px;
              margin-top: 5px;
              font-size: 1.2rem;
              @include breakpoint-down(tablet){
                margin-top: 0.3rem;
                font-size: 1.4rem;
            }
              @include breakpoint-down(small){
                font-size: 1.2rem;
            }

        }
        .contact{
            height: 3rem;
            width: 10rem;
            a{
            color:$black;
            &:visited :active{
                background-color: inherit;
                border: inherit;
            }
            }
            background-color: $globalColor;
            border: none;
            font-weight: 700;
            margin-top: 5px;
            position: relative;
            transition: all 0.4s ease-in-out;
            clip-path: polygon(
                2rem 0 ,
                calc(100% + 2rem) 0,
                calc(100% - 2rem) 100%,
                -2rem 100%);
                &:hover{
                    background-color: transparent;
                    border: 2px solid $globalColor;
                    a{color: $fontGrey;}
                    font-weight: 400;
                }
                @include breakpoint-down(tablet){
                    margin-top: 0.4rem
                }
                @include breakpoint-down(small){
                    font-size: 1rem;
                }
        }
    }
    .image-right{
        @include flex(center,center,row);
        flex: 1;
        width: 100%;
        height: inherit;
        @media screen and (xlarge){ 
            flex: 1.6;
         }
        @media screen and ( max-width:1365px){ 
            flex: 1.6;
         }
        @include breakpoint-down(medium){
            flex: 2.2;
        }
        @include breakpoint-down(tablet){
            height: 45rem;
            flex: 1;
        }
        @include breakpoint-down(small){
            height: 42rem;
            padding: 0px 20px;
        }
    }
    .my-image-left{
        flex:1;
        //height:100% ;
        height:inherit;
        position: relative;
        padding-bottom: 15px;
        @include flex(center,flex-end,row);
        &::before{
            content: "";
            position: absolute;
            bottom: 0px;
            z-index: -1;
            width: 100%;
            height: 100%;
            background-size: 95% 90%;
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-image: url(/assests/triangle.svg.png);
            @include breakpoint-down(medium){
                background-size:80% 70% ;
                background-position: 50% 100%;                
            }
            @include breakpoint-down(tablet){
                background-size:80% 80% ;
                background-position: center;
                
            }
            @include breakpoint-down(small){
                background-size:97% 90% ;
                background-position: center;
                
            }
            @media screen and ( max-width:496px){ 
                background-size:97% 80% ;
                background-position: 10% 100%;    
             }
            @media screen and ( max-width:372px){ 
                background-size:98% 70% ;
                background-position: 10% 100%;    
             }
        }
        @include breakpoint-down(xlarge){
            flex: 1;
        }
        @include breakpoint-down(small){
            flex: 2;
        }
        .code-icons{
            position: absolute;
            filter: contrast(1.2);

            width: 75px;
         img{
            width: 100%;
         }

        }
        .code-icons:nth-child(2){
            top: 40%;
            width: 85px;
            left: 9%;
            @include breakpoint-down(medium){
                width: 70px;
                top: 50%;
                left: 13%;
            }
            @include breakpoint-down(tablet){
               width: 70px;
                top: 40%;
                left: 12%;
            }
            @include breakpoint-down(small){
                width: 54px;
                left: 4%;
                top: 40%;
            }
            @media screen and ( max-width:372px){ 
                width: 54px;
                left: -2%;
                top: 50%;
            }
        }
        .code-icons:nth-child(3){
            top: 19%;
            width: 60px;
            right: 17%;
            filter: drop-shadow(1px 1px 5px $fontGrey);
            @include breakpoint-down(medium){
                width: 42px;
                right: 20%;
                top: 35%;
            }
            @include breakpoint-down(tablet){
                width: 51px;
                right: 18%;
                top: 25%;
            }
            @include breakpoint-down(small){
                width: 37px;
                right: 14%;
                top: 20%;
            }
            @media  screen and (max-width:492px) {
                width: 37px;
                right: 14%;
                top: 30%;
                
            }
            @media screen and ( max-width:372px){ 
                width: 37px;
                right: 13%;
                top: 40%;
            }
        }
        .code-icons:nth-child(4){
            bottom: 40%;
            right:20%;
            width: 80px;
            filter: contrast(10);
            filter: brightness(2);
            filter: drop-shadow(1px 1px 25px $globalColor);
            //background-color: red;
            animation: circular 15s linear infinite ;
            @include breakpoint-down(medium){
                width: 60px;
                bottom: 30%;
            }
            @include breakpoint-down(tablet){
                width: 65px;
                bottom: 35%;
                right: 25%;
            }
            @include breakpoint-down(small){
                width: 45px;
                right: 20%;
                bottom: 35%;
            }
            @media screen and ( max-width:372px){ 
                width: 45px;
                right: 14%;
                bottom: 30%;    
            }
        }
        
        .code-icons:nth-child(5){
            bottom: 13%;
            left: 2%;
            width: 60px;
            @include breakpoint-down(medium){
                width: 45px;
                left: 9%;
                bottom: 20%;
            }
            @include breakpoint-down(small){
                width: 40px;
                left: -04%;
                bottom: 15%;
            }
            @media  screen and (max-width:492px) {
                width: 40px;
                left: -9.8%;
                bottom: 20%;
                
            }
            @media screen and ( max-width:380px){  
                width: 30px;
                left: -13%;
                bottom: 15%;
            }
        }
    .my-image{
        width: 100%;
        //background-color: antiquewhite;
        z-index: 3;
        @include flex(center,center,row);
        @media screen and ( max-width:380px){ 
           padding-right: 10px;
        }
        img{
            width: 540px;
            @include breakpoint-down(xlarge){
                width: 480px;
            }
            @media screen and ( max-width:1365px){ 
                width: 420px;
             }
            @include breakpoint-down(medium){
                width: 360px;
            }
            @include breakpoint-down(tablet){
                width: 380px;
            }
            @include breakpoint-down(small){
                width: 350px;
            }
            @media screen and ( max-width:496px){ 
               width: 280px;
            }
            @media screen and ( max-width:388px){ 
               width: 250px;
            }

            }
        }

    }
    .social-icons-right{
        flex:0.1;
        //background-color: yellow;
        position: relative;
        height: inherit;
        @include flex(flex-end,center,column);
        padding-bottom: 20px;
        @include breakpoint-down(small){
            flex: 0.1;
            padding-bottom: 50px ;
            bottom: -40px;
        }
        .social_icons{
            margin-bottom: 7px;
            &>a{
                font-size: 1.7rem;
                color: $white;
                transition: all  0.5s ease-in-out;
            
            &:hover{
                color: $globalColor;
                i{
                    //margin-bottom: 6px;
                transform: scale(1.1);
                }
            }
        }
        }
        &::before{
            position: absolute;
            bottom: 10rem;
            content: "";
            background-color: $globalColor;
            width: 4px;
            height: 45%;
            @include breakpoint-down(small){
                width: 2px;
                height: 45%;
                bottom: 13rem;
            }
        }
    }
}
@keyframes slide{
    100%{
        left: 100%;
        margin: 0px -35px 0px 35px;
    }
}
@keyframes circular{
    0%{
        transform: rotate(-360deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
