#projects{
    width: 100vw;
    height:100vh;

    .projects-inner{
        height:71rem;
        max-width:1570px;
        position: relative;
        margin:auto;
        padding: 80px 15%;
        margin-bottom: 15px;
        @include flex(center,flex-start,column);
        gap: 80px;
        @include breakpoint-down(tablet){
            height:77rem;
            @include flex(center,center,column);
        }
        @include breakpoint-down(small){
            padding: 0px 100px;
            height:65rem;
        }

        &::before{
            content: "04.";
            font-family: 'PT Mono', monospace;
            position: absolute;
            bottom: 0;
            left: 1%;
            color: $fontGrey;
            font-size: 3rem;
            @include breakpoint-down(tablet){
            display: none;
            }
        }
        .projects-top{
            @include flex(flex-start,center,row);
            width: 45rem;
            height: 25rem;
            @include breakpoint-down(tablet){
                @include flex(center,center,column);
                
            }
            @include breakpoint-down(small){
                @include flex(center,center,row);
                width: 28rem;
                height: 17rem;
            }
            .project-top-image{   
                background-image: url(/assests/kizuki.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 19px;
                width: 45rem;
                height: 25rem;
                filter: grayscale(70%) brightness(50%);
                
                // background-color: aqua;
                @include breakpoint-down(tablet){
                    filter:grayscale(90%) contrast(1) brightness(30%) blur(1px);
                    position: absolute;
                }
                @include breakpoint-down(small){
                    width: 30rem;
                    height: 18rem;
                }                    
                &:hover{
                    filter: grayscale(0);
                    background-size: 103% 103%;
                }
            }
            .project-top-image-content{
                @include flex(center,flex-end,column);
                position: absolute;
                width: 32rem;
                right: 16%;
                @include breakpoint-down(xlarge){
                    right: 22%;
                }
                @include breakpoint-down(medium){
                    right: 10%;
                }
                @include breakpoint-down(tablet){
                    left:center;
                    position: relative;
                    left: 0;
                    width: 28rem;
                    height: 17rem;
                    // top:-22rem;
                    
                }
                @include breakpoint-down(small){
                    right: 0%;
                }
                // @include breakpoint-down(xlarge){
                    //     right: 10%;
                    // }
                    
                    .project-name{
                        @include flex(center,flex-end,column);
                        font-size: 2.7rem;
                        margin-bottom: 10px;
                        font-weight: 600;
                    color: $globalColorSecond;
                    line-height: 0.9;
                    @include breakpoint-down(small){
                        font-weight: bold;
                        font-size: 2.2rem; 
                    }                    
                }
                .project-info{
                    border-radius: 10px;
                    margin-bottom: 10px;
                    color: $fontGrey2;
                    text-align: justify;
                    text-indent: 0.7px;
                    padding: 20px 50px ;
                    background: rgba(0, 0, 0, 0.5);
                    backdrop-filter:blur(10px);
                    @include breakpoint-down(small){
                        padding: 10px 30px; 
                    }                    
                }
                .project-files{
                    @include flex(flex-end,flex-end,row);
                    gap: 10px;
                    height: 2.5rem;
                    .project-files-github-btn{
                        width: 2rem;
                        height: 2rem;
                    }
                    .project-files-site-btn{
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
        }
        .projects-bottom{
            @include flex(flex-start,center,row);
            @include breakpoint-down(tablet){
                @include flex(center,center,column);
                
            }
            .project-bottom-image{   
                background-image: url(/assests/Easybank.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 19px;
                width: 45rem;
                height: 25rem;
                filter: grayscale(100%) brightness(50%);
                @include breakpoint-down(tablet){
                    filter:grayscale(100%) contrast(1) brightness(10%) blur(2px);
                }
                @include breakpoint-down(small){
                    width: 30rem;
                    height: 18rem;
                }                    
                &:hover{
                    filter: grayscale(0);
                    background-size: 103% 103%;
                }
            }
            .project-bottom-image-content{
                @include flex(center,flex-start,column);
                position: absolute;
                width: 32rem;
                left: 16%;
                @include breakpoint-down(tablet){
                    left:center;
                    position: relative;
                    left: 0;
                    top:-22rem;
                    width: 28rem;
                    height: 17rem;

                }
                @include breakpoint-down(small){
                    top: -17rem
                }
                
                .project-name{
                    @include flex(center,flex-end,column);
                    font-size: 2.6rem;
                    margin-bottom: 10px;
                    font-weight: 600;
                    color: $globalColorSecond;
                    line-height: 0.9;
                    @include breakpoint-down(small){
                        font-weight: bold;
                        font-size: 2.2rem; 
                    }                    
                }
                .project-info{
                    border-radius: 10px;
                    margin-bottom: 10px;
                    color: $fontGrey2;
                    text-align: justify;
                    text-indent: 0.7px;
                    padding: 20px 50px ;
                    background: rgba(0, 0, 0,0.8);
                    backdrop-filter:blur(10px);
                    @include breakpoint-down(small){
                        padding: 10px 30px; 
                    }                    
                }
                .project-files{
                    @include flex(flex-end,flex-end,row);
                    gap: 10px;
                    height: 2.5rem;
                    .project-files-github-btn{
                        width: 2rem;
                        height: 2rem;
                    }
                    .project-files-site-btn{
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
        }
        .projects-text{
            font-size: 3rem;
            letter-spacing: -2px;
            word-spacing: 0px;
            position:absolute;
            bottom: 0;
            right: 10.7%;
            flex: 0;
            //font-family: 'PT Mono', monospace;
            font-weight: 600;
            a{
                color: $fontGrey2;
                }
            @include breakpoint-down(tablet){
                left: 5.7%;
                width: 10.2rem;
            }
            @include hover(15% 100%);
            &:hover{
                background-size: 100% 100%
            }
        }
    }
}
.projects-bottom-main{
    width: 100%;
    @include flex(flex-end,center,row);
    @include breakpoint-down(xlarge){
        width: 90%;
    }
    @include breakpoint-down (medium){
        width: 108%;
    }
    @include breakpoint-down (tablet){
        width: 100%;
        @include flex(center,center,row);
    }
    @include breakpoint-down (small){
        width: 100%;
    }
}