#projects{
    width: 100vw;
    height:100vh;
    .projects-inner{
        height:71rem;
        max-width:1570px;
        position: relative;
        margin:auto;
        padding: 80px 15%;
        @include flex(center,flex-start,column);
        gap: 80px;
        @include breakpoint-down(tablet){
            @include flex(center,center,column);
        }
        @include breakpoint-down(small){
            padding: 0px 100px;
        }

        &::before{
            content: "04.";
            font-family: 'PT Mono', monospace;
            position: absolute;
            bottom: 0;
            left: 1%;
            color: $fontGrey;
            font-size: 3rem;
            @include breakpoint-down(tablet){
            display: none;
            }
        }
        .projects-top{
            @include flex(flex-start,center,row);
            width: 45rem;
            height: 25rem;
            margin-left: 1%;
            @include breakpoint-down(small){
                @include flex(center,center,row);
                
            }
            .project-top-image{   
                background-image: url(/assests/kizuki.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 19px;
                width: 45rem;
                height: 25rem;
                filter: grayscale(1) brightness(60%);
                
                // background-color: aqua;
                @include breakpoint-down(tablet){
                    filter:grayscale(90%) contrast(1) brightness(30%) blur(1px);
                }
                @include breakpoint-down(small){
                    width: 35rem;
                    height: 21rem;
                }                    
                &:hover{
                    filter: grayscale(0);
                    background-size: 103% 103%;
                }
            }
            .project-top-image-content{
                @include flex(center,flex-end,column);
                position: absolute;
                width: 32rem;
                right: 25%;
                @include breakpoint-down(xlarge){
                    right: 30%;
                }
                @include breakpoint-down(tablet){
                    right: 20%;
                }
                @include breakpoint-down(small){
                    right: 05%;
                }
                // @include breakpoint-down(xlarge){
                    //     right: 10%;
                // }
                
                .project-name{
                    @include flex(center,flex-end,column);
                    font-size: 3.4rem;
                    margin-bottom: 10px;
                    font-weight: 600;
                    color: $globalColorSecond;
                    line-height: 0.9;
                }
                .project-info{
                    border-radius: 10px;
                    margin-bottom: 10px;
                    color: $fontGrey2;
                    text-align: justify;
                    text-indent: 0.7px;
                    padding: 20px 50px ;
                    background-color: $backgroundColor3;
                    @include breakpoint-down(small){
                        padding: 10px 30px; 
                    }                    
                }
                .project-files{
                    @include flex(flex-end,flex-end,row);
                    gap: 10px;
                    height: 2.5rem;
                    .project-files-github-btn{
                        width: 2rem;
                        height: 2rem;
                    }
                    .project-files-site-btn{
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
        }
        .projects-bottom{
            @include flex(flex-start,center,row);
            width: 45rem;
            height: 25rem;
            margin-left: 1%;
            @include breakpoint-down(small){
                @include flex(center,center,row);
                
            }
            .project-bottom-image{   
                background-image: url(/assests/Easybank.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 19px;
                width: 45rem;
                height: 25rem;
                filter: grayscale(1) brightness(60%);
                
                // background-color: aqua;
                @include breakpoint-down(tablet){
                    filter:grayscale(90%) contrast(1) brightness(30%) blur(1px);
                }
                @include breakpoint-down(small){
                    width: 35rem;
                    height: 21rem;
                }                    
                &:hover{
                    filter: grayscale(0);
                    background-size: 103% 103%;
                }
            }
            .project-bottom-image-content{
                @include flex(center,flex-end,column);
                position: absolute;
                width: 32rem;
                right: 25%;
                @include breakpoint-down(xlarge){
                    right: 30%;
                }
                @include breakpoint-down(tablet){
                    right: 20%;
                }
                @include breakpoint-down(small){
                    right: 05%;
                }
                // @include breakpoint-down(xlarge){
                    //     right: 10%;
                // }
                
                .project-name{
                    @include flex(center,flex-end,column);
                    font-size: 3.4rem;
                    margin-bottom: 10px;
                    font-weight: 600;
                    color: $globalColorSecond;
                    line-height: 0.9;
                }
                .project-info{
                    border-radius: 10px;
                    margin-bottom: 10px;
                    color: $fontGrey2;
                    text-align: justify;
                    text-indent: 0.7px;
                    padding: 20px 50px ;
                    background-color: $backgroundColor3;
                    @include breakpoint-down(small){
                        padding: 10px 30px; 
                    }                    
                }
                .project-files{
                    @include flex(flex-end,flex-end,row);
                    gap: 10px;
                    height: 2.5rem;
                    .project-files-github-btn{
                        width: 2rem;
                        height: 2rem;
                    }
                    .project-files-site-btn{
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
        }
        // .projects-bottom{
        //     @include flex(flex-end,center,row);
        //     position: relative;
        //     right: 0;
        //     width: 100%;
        //     @include breakpoint-down(tablet){
        //         @include flex(flex-start,center,row);
        //         left: 0;
        //         width: 45rem;
        //         height: 25rem;
                
        //     }
        //     @include breakpoint-down(small){
        //         @include flex(center,center,row-reverse);
        //     }
        //     .project-bottom-image{   
        //         background-image: url(/assests/easybank.png);
        //         width: 45rem;
        //         height: 25rem;
        //         background-size: 100% 100%;
        //         background-repeat: no-repeat;
        //         background-position: center;
        //         border-radius: 19px;
        //         position: relative;
        //         filter: grayscale(100%) brightness(35%);
        //         @include breakpoint-down(medium){
        //             filter:grayscale(150%) contrast(1) brightness(30%) blur(1px);
        //         }
        //         @include breakpoint-down(tablet){
        //             filter:grayscale(100%) contrast(1) brightness(10%) blur(1px);
        //         }
        //         @include breakpoint-down(small){
        //             width: 35rem;
        //             height: 21rem;
        //         }      

        //         &:hover + ::before{
        //             background-color: rgb(0,0,0,0);
                    
        //         }
        //         // background-color: aqua;                    
        //         &:hover{
        //             filter: grayscale(0);
        //             background-image: url(/assests/Easybank.png);
        //             background-size: 103% 103%;
        //             filter: brightness(0.9);
        //         }
        //         @media  (max-width:1553px) , (min-width:1361) {
        //             margin-right: 10%;
        //         }
        //         @include breakpoint-down(tablet){
        //             margin-right: 0%
        //         }
        //     }
        //     .project-bottom-image-content{
        //         @include flex(center,flex-start,column);
        //         position: absolute;
        //         z-index: 1;
        //         width: 32rem;
        //         left: 19%;
        //         @include breakpoint-down(xlarge){
        //             left: 19%;
        //         }
        //         @include breakpoint-down(small){
        //             left: 10%;
        //             padding-left:30px; 
        //         }
                
        //         .project-name{
        //             @include flex(center,flex-end,column);
        //             font-size: 3.4rem;
        //             margin-bottom: 10px;
        //             font-weight: 600;
        //             color: $globalColorSecond;
        //             line-height: 0.9;
        //         }
        //         .project-info{
        //             border-radius: 10px;
        //             margin-bottom: 10px;
        //             color: $fontGrey2;
        //             text-align: justify;
        //             text-indent: 0.7px;
        //             padding: 20px 50px ;
        //             background-color: $backgroundColor3;
        //             @include breakpoint-down(small){
        //                 padding: 10px 30px; 
        //             }      
        //         }
        //         .project-files{
        //             @include flex(flex-end,flex-end,row);
        //             gap: 10px;
        //             height: 2.5rem;
        //             .project-files-github-btn{
        //                 width: 2rem;
        //                 height: 2rem;
        //             }
        //             .project-files-site-btn{
        //                 width: 2rem;
        //                 height: 2rem;
        //             }
        //         }
        //     }
        // }
        .projects-text{
            font-size: 3.5rem;
            letter-spacing: -2px;
            word-spacing: 0px;
            position:absolute;
            bottom: 0;
            right: 10.7%;
            flex: 0;
            //font-family: 'PT Mono', monospace;
            font-weight: 600;
            color: $fontGrey2;
            @include breakpoint-down(tablet){
                right: 5.7%;
            }
            @include hover(15% 100%);
            &:hover{
                background-size: 100% 100%
            }
        }
    }
}