$backgroundColor:#1d2222;
$backgroundColor2:#111414;
$backgroundColor3:#0e0e0e;
$logoColor:#c5caca;
$globalColor:#00f4ff;
$globalColorSecond:#08c5cc;
$white:#ffffff;
$fontGrey:#d9d9d9;
$fontGrey2:#a5a5a5;
$black:#000000;