html {
  font-size: 100%;
  box-sizing: border-box;
}
@media (min-width: 64rem) {
  html {
    font-size: 90%;
    padding: 0px 50px 0px 50px;
  }
}
@media (max-width: 97.5rem) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 64rem) {
  html {
    font-size: 70%;
  }
}
@media (max-width: 56.25rem) {
  html {
    font-size: 90%;
  }
}
@media (max-width: 39.9375rem) {
  html {
    font-size: 78%;
  }
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.3;
  overflow-x: hidden;
  font-weight: 300;
  color: #d9d9d9;
  background-color: #1d2222;
}

a, :visited, :hover {
  text-decoration: none;
}

#home {
  width: 100vw;
}
#home .home-inner {
  max-width: 1980px;
  margin: auto;
}
@media (max-width: 39.9375rem) {
  #home .home-inner {
    margin-bottom: 30px;
  }
}

.navbar {
  max-width: 1580px;
  margin: auto;
  height: 9.375rem;
  padding: 0px 20px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 39.9375rem) {
  .navbar {
    height: 4.2rem;
    margin-bottom: 1rem;
  }
}
.navbar .logo {
  width: 10%;
  flex: 1 1;
  position: relative;
  top: 8px;
}
@media (max-width: 56.25rem) {
  .navbar .logo {
    width: 5%;
  }
}
.navbar .logo::after {
  content: "";
  background-color: #00f4ff;
  width: 2px;
  height: 3.7rem;
  position: absolute;
  top: 0px;
  left: 7.3rem;
  transform: rotate(27deg);
  animation-name: logo_slash;
  animation-duration: 2s;
  overflow: hidden;
}
.navbar .logo a {
  color: #d9d9d9;
}
.navbar .logo a .logo-sachin {
  font-size: 2rem;
  line-height: 0.8;
  width: 7.3rem;
  animation-name: logo_sachin;
  animation-duration: 2s;
  position: relative;
  right: 0;
  overflow: hidden;
}
@media (max-width: 97.5rem) {
  .navbar .logo a .logo-sachin {
    line-height: 1;
  }
}
@keyframes logo_slash {
  0% {
    left: 0rem;
    opacity: 0;
    height: 0;
  }
  25% {
    height: 3.7rem;
    opacity: 25%;
  }
  50% {
    opacity: 90%;
  }
  100% {
    left: 7.3rem;
    opacity: 100%;
  }
}
@keyframes logo_sachin {
  0% {
    opacity: 0;
    right: -7.3rem;
  }
  25% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    right: 0;
  }
}
.navbar .logo a .logo-kumar {
  font-weight: 800;
  font-size: 2.1rem;
  margin-left: 7.3rem;
  line-height: 0.8;
  animation-name: logo_kumar;
  animation-duration: 3s;
  position: relative;
  right: 0;
  overflow: hidden;
}
@keyframes logo_kumar {
  0% {
    opacity: 0;
    left: -7.3rem;
  }
  35% {
    opacity: 0%;
  }
  70% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    left: 0;
  }
}
.navbar .menu {
  flex: 2 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.navbar .menu .menu-items {
  background-image: linear-gradient(to bottom, transparent 0%, transparent 90%, #00f4ff 90%, #00f4ff 100%);
  background-size: 0% 100%;
  background-position-x: right;
  background-repeat: no-repeat;
  transition: background-size 500ms;
  height: 1.4rem;
  border-radius: 18px;
}
.navbar .menu .menu-items:hover {
  background-size: 100% 100%;
  background-position-x: left;
}
.navbar .menu .menu-items a {
  color: #d9d9d9;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}
@media (min-width: 64rem) {
  .navbar .menu .menu-items a {
    font-size: 0.98rem;
  }
}
.navbar .menu .menu-items a:hover {
  color: #00f4ff;
}
.navbar .menu .menu-items a:hover .span-num {
  color: #d9d9d9;
}
.navbar .menu .menu-items a .span-num {
  color: #00f4ff;
}
@media (max-width: 56.25rem) {
  .navbar .menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    -webkit-clip-path: circle(0% at 95.3% 8.5%);
            clip-path: circle(0% at 95.3% 8.5%);
    height: 80vh;
    background: rgba(0, 0, 0, 0.3);
    top: 2.5rem;
    border-radius: 20px;
    gap: 2;
    right: 0;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    transition: all 0.8s ease-in;
    z-index: 999;
  }
  .navbar .menu .menu-items {
    z-index: 999;
    margin-bottom: 20px;
    opacity: 0;
    transition: all 0.79s ease-in;
  }
  .navbar .menu .menu-items a {
    pointer-events: none;
  }
}
@media (max-width: 39.9375rem) {
  .navbar .menu {
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 999;
    color: #ffffff;
    font-size: 1.5rem;
  }
  .navbar .menu .menu-items {
    height: 2rem;
  }
  .navbar .menu .span-num {
    display: none;
  }
}
.navbar .mail-git-dark-box {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 39.9375rem) {
  .navbar .mail-git-dark-box {
    display: none;
  }
}
.navbar .mail-git-dark-box .email {
  margin-right: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
.navbar .mail-git-dark-box .email i {
  width: 100%;
  color: #00f4ff;
  font-size: 1.4rem;
}
.navbar .mail-git-dark-box .email i:hover {
  transform: scale(1.2);
  color: #ffffff;
}
.navbar .mail-git-dark-box a {
  color: #00f4ff;
}
.navbar .mail-git-dark-box a .github {
  margin-right: 15px;
  border: 1.5px solid #00f4ff;
  padding: 10px 20px;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.navbar .mail-git-dark-box a .github .span-github {
  font-size: 0.8rem;
  padding-left: 10px;
}
.navbar .mail-git-dark-box a .github:hover {
  border-color: #000000;
  background-color: #00f4ff;
  color: #000000;
}
.navbar .mail-git-dark-box .theme-mode {
  margin-right: 15px;
  color: #00f4ff;
  height: 100%;
}
.navbar .mail-git-dark-box .theme-mode:hover {
  color: #ffffff;
  transform: scale(1.1);
}

.menu-2 {
  -webkit-clip-path: circle(100%) !important;
          clip-path: circle(100%) !important;
}

.link-effect {
  opacity: 100% !important;
}

.hamburger {
  height: 1.5rem;
  width: 32px;
  display: none;
}
.hamburger .bars {
  border-radius: 5%;
  background-color: #04d7df;
  height: 2px;
  width: inherit;
  margin-bottom: 6px;
  transition: all 0.5s ease;
}
@media (max-width: 56.25rem) {
  .hamburger {
    display: block;
    z-index: 999;
  }
}

.active:nth-child(1) {
  transform: rotate(55deg) translateY(6px);
  background-color: #00f4ff;
}
.active:nth-child(2) {
  opacity: 0;
  background-color: #00f4ff;
}
.active:nth-child(3) {
  transform: rotate(-55deg) translateY(-6px);
  background-color: #00f4ff;
}

.home-content-image {
  max-width: 1580px;
  padding: 0px 20px;
  margin: auto;
  height: 59rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 97.5rem) {
  .home-content-image {
    height: 59rem;
  }
}
@media (max-width: 56.25rem) {
  .home-content-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50rem;
  }
}
@media (max-width: 39.9375rem) {
  .home-content-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70rem;
  }
}
.home-content-image .content-left {
  flex: 1.3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: inherit;
  position: relative;
}
@media (max-width: 97.5rem) {
  .home-content-image .content-left {
    flex: 1;
  }
}
@media (max-width: 64rem) {
  .home-content-image .content-left {
    flex: 1;
  }
}
@media (max-width: 56.25rem) {
  .home-content-image .content-left {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
  }
}
.home-content-image .content-left::before {
  content: "01.";
  font-family: "PT Mono", monospace;
  position: absolute;
  bottom: 0;
  color: #d9d9d9;
  font-size: 3rem;
}
@media (max-width: 56.25rem) {
  .home-content-image .content-left::before {
    display: none;
  }
}
.home-content-image .content-left .introduce-name {
  font-size: 2.2rem;
  position: relative;
  width: 100%;
  font-family: "Noto Serif KR", serif;
}
@media (max-width: 97.5rem) {
  .home-content-image .content-left .introduce-name {
    font-size: 2rem;
  }
}
@media (max-width: 64rem) {
  .home-content-image .content-left .introduce-name {
    font-size: 1.5rem;
  }
}
@media (max-width: 56.25rem) {
  .home-content-image .content-left .introduce-name {
    font-size: 2rem;
  }
}
@media (max-width: 39.9375rem) {
  .home-content-image .content-left .introduce-name {
    line-height: 1;
    font-size: 1.5rem;
  }
}
.home-content-image .content-left .introduce-name .span-sachinKumar {
  font-size: 3.7rem;
  color: #00f4ff;
  font-family: "Noto Serif KR", serif;
  font-weight: 500;
}
@media (max-width: 97.5rem) {
  .home-content-image .content-left .introduce-name .span-sachinKumar {
    font-size: 3.1rem;
  }
}
@media (max-width: 64rem) {
  .home-content-image .content-left .introduce-name .span-sachinKumar {
    font-size: 2.4rem;
  }
}
@media (max-width: 56.25rem) {
  .home-content-image .content-left .introduce-name .span-sachinKumar {
    font-size: 3.5rem;
  }
}
@media (max-width: 39.9375rem) {
  .home-content-image .content-left .introduce-name .span-sachinKumar {
    display: flex;
    flex-direction: column;
    font-size: 3.2rem;
  }
}
.home-content-image .content-left .works-define {
  font-size: 1.2rem;
}
@media (max-width: 56.25rem) {
  .home-content-image .content-left .works-define {
    font-size: 1.5rem;
  }
}
.home-content-image .content-left .works-define ul li {
  position: relative;
  list-style-type: none;
}
.home-content-image .content-left .my-thought {
  position: relative;
  font-family: "PT Mono", monospace;
  margin-top: 5px;
  font-size: 1.2rem;
}
@media (max-width: 56.25rem) {
  .home-content-image .content-left .my-thought {
    margin-top: 0.3rem;
    font-size: 1.4rem;
  }
}
@media (max-width: 39.9375rem) {
  .home-content-image .content-left .my-thought {
    font-size: 1.2rem;
  }
}
.home-content-image .content-left .contact {
  height: 3rem;
  width: 10rem;
  color: #000000;
  background-color: #00f4ff;
  border: none;
  font-weight: 700;
  margin-top: 5px;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-clip-path: polygon(2rem 0, calc(100% + 2rem) 0, calc(100% - 2rem) 100%, -2rem 100%);
          clip-path: polygon(2rem 0, calc(100% + 2rem) 0, calc(100% - 2rem) 100%, -2rem 100%);
}
.home-content-image .content-left .contact:hover {
  background-color: transparent;
  border: 2px solid #00f4ff;
  color: #d9d9d9;
  font-weight: 400;
}
@media (max-width: 56.25rem) {
  .home-content-image .content-left .contact {
    margin-top: 0.4rem;
  }
}
@media (max-width: 39.9375rem) {
  .home-content-image .content-left .contact {
    font-size: 1rem;
  }
}
.home-content-image .image-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 2;
  width: 100%;
  height: inherit;
}
@media (max-width: 64rem) {
  .home-content-image .image-right {
    flex: 2.1;
  }
}
@media (max-width: 56.25rem) {
  .home-content-image .image-right {
    height: 38rem;
  }
}
@media (max-width: 39.9375rem) {
  .home-content-image .image-right {
    height: 42rem;
    padding: 0px 20px;
  }
}
.home-content-image .my-image-left {
  flex: 1;
  width: 100%;
  position: relative;
}
@media (max-width: 97.5rem) {
  .home-content-image .my-image-left {
    flex: 0.98;
  }
}
@media (max-width: 39.9375rem) {
  .home-content-image .my-image-left {
    flex: 2;
  }
}
.home-content-image .my-image-left .triangle:nth-child(1) {
  width: inherit;
  position: relative;
  left: 83px;
  height: 61rem;
  bottom: 0;
  background-image: url(/assests/triangle.svg.png);
  background-repeat: no-repeat;
  background-size: 73% 90%;
  background-position: 0% 100%;
}
.home-content-image .my-image-left .triangle:nth-child(1) img {
  width: 100%;
}
@media (max-width: 39.9375rem) {
  .home-content-image .my-image-left .triangle:nth-child(1) {
    left: 0px;
    background-size: 95% 70%;
    background-position: 0% 100%;
  }
}
@media (max-width: 56.25rem) {
  .home-content-image .my-image-left .triangle:nth-child(1) {
    height: 38rem;
  }
}
@media (max-width: 39.9375rem) {
  .home-content-image .my-image-left .triangle:nth-child(1) {
    height: 42rem;
  }
}
.home-content-image .my-image-left .code-icons {
  position: absolute;
  width: 75px;
}
.home-content-image .my-image-left .code-icons img {
  width: 100%;
}
.home-content-image .my-image-left .code-icons:nth-child(2) {
  top: 30%;
  left: 17%;
}
@media (max-width: 64rem) {
  .home-content-image .my-image-left .code-icons:nth-child(2) {
    width: 70px;
    top: 30%;
    left: 13%;
  }
}
@media (max-width: 56.25rem) {
  .home-content-image .my-image-left .code-icons:nth-child(2) {
    width: 70px;
  }
}
@media (max-width: 39.9375rem) {
  .home-content-image .my-image-left .code-icons:nth-child(2) {
    width: 54px;
    left: 4%;
    top: 40%;
  }
}
.home-content-image .my-image-left .code-icons:nth-child(3) {
  top: 19%;
  width: 60px;
  right: 25%;
}
@media (max-width: 64rem) {
  .home-content-image .my-image-left .code-icons:nth-child(3) {
    width: 42px;
    right: 22%;
  }
}
@media (max-width: 56.25rem) {
  .home-content-image .my-image-left .code-icons:nth-child(3) {
    width: 51px;
    right: 23%;
    top: 25%;
  }
}
@media (max-width: 39.9375rem) {
  .home-content-image .my-image-left .code-icons:nth-child(3) {
    width: 34px;
    right: 14%;
    top: 43%;
  }
}
.home-content-image .my-image-left .code-icons:nth-child(4) {
  bottom: 45%;
  right: 33%;
  width: 70px;
  animation: circular 15s linear infinite;
}
@media (max-width: 64rem) {
  .home-content-image .my-image-left .code-icons:nth-child(4) {
    width: 50px;
  }
}
@media (max-width: 56.25rem) {
  .home-content-image .my-image-left .code-icons:nth-child(4) {
    width: 65px;
    bottom: 40%;
    right: 30%;
  }
}
@media (max-width: 39.9375rem) {
  .home-content-image .my-image-left .code-icons:nth-child(4) {
    width: 38px;
    right: 20%;
    bottom: 27%;
  }
}
.home-content-image .my-image-left .code-icons:nth-child(5) {
  bottom: 13%;
  left: 9%;
  width: 55px;
}
@media (max-width: 64rem) {
  .home-content-image .my-image-left .code-icons:nth-child(5) {
    width: 45px;
    left: 7%;
  }
}
@media (max-width: 64rem) {
  .home-content-image .my-image-left .code-icons:nth-child(5) {
    width: 50px;
    left: 7%;
  }
}
@media (max-width: 39.9375rem) {
  .home-content-image .my-image-left .code-icons:nth-child(5) {
    width: 30px;
    left: -3%;
    bottom: 6%;
  }
}
.home-content-image .my-image-left::after {
  content: "";
  position: absolute;
  background: url(/assests/sk.png);
  width: 93%;
  height: 85%;
  background-position: 50% 10%;
  background-repeat: no-repeat;
  background-size: 67% 98%;
  bottom: 0;
}
@media (max-width: 97.5rem) {
  .home-content-image .my-image-left::after {
    background-size: 62% 90%;
    background-position: 54% 100%;
  }
}
@media (max-width: 64rem) {
  .home-content-image .my-image-left::after {
    background-size: 70% 90%;
    bottom: 0;
    background-position: 54% 100%;
  }
}
@media (max-width: 56.25rem) {
  .home-content-image .my-image-left::after {
    background-size: 58% 100%;
    bottom: 0;
    background-position: 54% 100%;
  }
}
@media (max-width: 39.9375rem) {
  .home-content-image .my-image-left::after {
    background-size: 85% 85%;
    bottom: 0;
    background-position: 54% 100%;
  }
}
@media screen and (max-width: 420px) {
  .home-content-image .my-image-left::after {
    background-size: 85% 70%;
  }
}
.home-content-image .social-icons-right {
  flex: 0;
  position: relative;
  height: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}
@media (max-width: 39.9375rem) {
  .home-content-image .social-icons-right {
    flex: 0;
    padding-bottom: -5px;
    bottom: -40px;
  }
}
.home-content-image .social-icons-right .social_icons {
  margin-bottom: 7px;
}
.home-content-image .social-icons-right .social_icons > a {
  font-size: 1.7rem;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}
.home-content-image .social-icons-right .social_icons > a:hover {
  color: #00f4ff;
}
.home-content-image .social-icons-right .social_icons > a:hover i {
  transform: scale(1.1);
}
.home-content-image .social-icons-right::before {
  position: absolute;
  bottom: 10rem;
  content: "";
  background-color: #00f4ff;
  width: 4px;
  height: 45%;
}
@media (max-width: 39.9375rem) {
  .home-content-image .social-icons-right::before {
    width: 2px;
    height: 48%;
  }
}

@keyframes slide {
  100% {
    left: 100%;
    margin: 0px -35px 0px 35px;
  }
}
@keyframes circular {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#about-me {
  width: 100vw;
}
#about-me .about-me-inner {
  max-width: 1580px;
  height: 65rem;
  margin: auto;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
@media (max-width: 56.25rem) {
  #about-me .about-me-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 39.9375rem) {
  #about-me .about-me-inner {
    height: 75rem;
  }
}
#about-me .about-me-inner .about-me-content-left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex: 1;
  position: relative;
  height: 65rem;
}
#about-me .about-me-inner .about-me-content-left::before {
  content: "02.";
  font-family: "PT Mono", monospace;
  position: absolute;
  bottom: 0;
  color: #d9d9d9;
  font-size: 3rem;
}
@media (max-width: 56.25rem) {
  #about-me .about-me-inner .about-me-content-left::before {
    display: none;
  }
}
@media (max-width: 97.5rem) {
  #about-me .about-me-inner .about-me-content-left {
    flex: 1.5;
  }
}
@media (max-width: 56.25rem) {
  #about-me .about-me-inner .about-me-content-left {
    flex: 1;
    margin: auto;
    align-items: center;
  }
}
@media (max-width: 39.9375rem) {
  #about-me .about-me-inner .about-me-content-left {
    flex: 9;
  }
}
#about-me .about-me-inner .about-me-content-left .creative-top {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 1;
}
@media (max-width: 39.9375rem) {
  #about-me .about-me-inner .about-me-content-left .creative-top {
    font-size: 2rem;
  }
}
#about-me .about-me-inner .about-me-content-left .creative-top .creative-design {
  font-size: 3.7rem;
  font-weight: 600;
  color: #00f4ff;
}
@media (max-width: 39.9375rem) {
  #about-me .about-me-inner .about-me-content-left .creative-top .creative-design {
    font-size: 2.3rem;
  }
}
#about-me .about-me-inner .about-me-content-left .creative-center {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
}
#about-me .about-me-inner .about-me-content-left .creative-bottom {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 700;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 39.9375rem) {
  #about-me .about-me-inner .about-me-content-left .creative-bottom {
    font-size: 1.3rem;
  }
}
#about-me .about-me-inner .about-me-content-left .creative-bottom .creative-design-second {
  font-size: 2.2rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: 600;
  color: #00f4ff;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 64rem) {
  #about-me .about-me-inner .about-me-content-left .creative-bottom .creative-design-second {
    font-size: 2rem;
  }
}
@media (max-width: 39.9375rem) {
  #about-me .about-me-inner .about-me-content-left .creative-bottom .creative-design-second {
    font-size: 1.4rem;
  }
}
#about-me .about-me-inner .about-me-content-left .hello {
  width: inherit;
  height: 600px;
  margin: auto;
  background-repeat: no-repeat;
  margin-top: 10%;
  filter: brightness(0.89);
  position: relative;
}
@media (max-width: 56.25rem) {
  #about-me .about-me-inner .about-me-content-left .hello {
    margin-top: 0%;
    top: -4%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
#about-me .about-me-inner .about-me-content-left .hello img {
  width: 85%;
  background-position: center;
}
@media (max-width: 39.9375rem) {
  #about-me .about-me-inner .about-me-content-left .hello {
    top: 0%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  #about-me .about-me-inner .about-me-content-left .hello img {
    width: 100%;
  }
}
#about-me .about-me-inner .about-me-content-right {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  padding: 14% 10% 0% 10%;
  height: inherit;
  position: relative;
}
@media (max-width: 56.25rem) {
  #about-me .about-me-inner .about-me-content-right {
    gap: 50px;
  }
}
@media (max-width: 39.9375rem) {
  #about-me .about-me-inner .about-me-content-right {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    flex: 1;
    gap: 60px;
  }
}
#about-me .about-me-inner .about-me-content-right .about:nth-child(1) {
  flex: 1;
  height: 100px;
  font-size: 1.2rem;
  position: relative;
  line-height: 1;
  text-align: justify;
  text-indent: -1px;
  top: 10px;
  padding-right: 40%;
  margin-bottom: 0%;
}
#about-me .about-me-inner .about-me-content-right .about:nth-child(1)::before {
  content: "";
  background: url(/assests/about-elipse-style.png);
  position: absolute;
  width: 250px;
  height: 80px;
  top: -100px;
  left: -4rem;
  background-repeat: no-repeat;
  background-size: 100% 90%;
}
@media (max-width: 39.9375rem) {
  #about-me .about-me-inner .about-me-content-right .about:nth-child(1)::before {
    height: 70px;
    top: -70px;
    width: 240px;
  }
}
@media (max-width: 97.5rem) {
  #about-me .about-me-inner .about-me-content-right .about:nth-child(1) {
    padding-right: 0%;
  }
}
@media (max-width: 56.25rem) {
  #about-me .about-me-inner .about-me-content-right .about:nth-child(1) {
    padding-right: 0%;
  }
}
@media (max-width: 39.9375rem) {
  #about-me .about-me-inner .about-me-content-right .about:nth-child(1) {
    padding-right: 0%;
    height: inherit;
  }
}
#about-me .about-me-inner .about-me-content-right .about:nth-child(2) {
  flex: 1;
  height: 100px;
  font-size: 1.2rem;
  position: relative;
  line-height: 1;
  text-align: justify;
  text-indent: -1px;
  padding-left: 35%;
}
#about-me .about-me-inner .about-me-content-right .about:nth-child(2)::after {
  content: "";
  background: url(/assests/about-elipse-style.png);
  position: absolute;
  width: 380px;
  height: 90px;
  top: -100px;
  transform: scaleX(-1);
  right: -4rem;
  background-repeat: no-repeat;
  background-size: 66% 82%;
}
@media (max-width: 39.9375rem) {
  #about-me .about-me-inner .about-me-content-right .about:nth-child(2)::after {
    height: 70px;
    top: -65px;
    width: 350px;
  }
}
@media (max-width: 97.5rem) {
  #about-me .about-me-inner .about-me-content-right .about:nth-child(2) {
    padding-left: 0%;
  }
}
@media (max-width: 56.25rem) {
  #about-me .about-me-inner .about-me-content-right .about:nth-child(2) {
    padding-left: 0%;
  }
}
@media (max-width: 39.9375rem) {
  #about-me .about-me-inner .about-me-content-right .about:nth-child(2) {
    padding-left: 0%;
    height: inherit;
  }
}
#about-me .about-me-inner .about-me-content-right .about:nth-child(3) {
  flex: 1;
  height: 100px;
  font-size: 1.2rem;
  position: relative;
  line-height: 1;
  text-align: justify;
  text-indent: -1px;
  padding-right: 40%;
}
#about-me .about-me-inner .about-me-content-right .about:nth-child(3)::after {
  content: "";
  background: url(/assests/about-elipse-style.png);
  position: absolute;
  width: 380px;
  height: 90px;
  top: -100px;
  left: -4rem;
  background-repeat: no-repeat;
  background-size: 66% 82%;
}
@media (max-width: 39.9375rem) {
  #about-me .about-me-inner .about-me-content-right .about:nth-child(3)::after {
    height: 70px;
    top: -60px;
    width: 350px;
  }
}
@media (max-width: 97.5rem) {
  #about-me .about-me-inner .about-me-content-right .about:nth-child(3) {
    padding-right: 0%;
  }
}
@media (max-width: 56.25rem) {
  #about-me .about-me-inner .about-me-content-right .about:nth-child(3) {
    padding-right: 0%;
  }
}
@media (max-width: 39.9375rem) {
  #about-me .about-me-inner .about-me-content-right .about:nth-child(3) {
    padding-right: 0%;
    height: inherit;
  }
}
#about-me .about-me-inner .about-me-content-right .about-me-text {
  font-size: 3.5rem;
  letter-spacing: -2px;
  position: relative;
  bottom: 10px;
  right: 0;
  flex: 0.1;
  word-spacing: 0px;
  font-weight: 600;
  color: #a5a5a5;
  background-image: linear-gradient(to bottom, transparent 0%, transparent 95%, #00f4ff 95%, #00f4ff 100%);
  background-size: 15% 100%;
  background-position-x: left;
  background-repeat: no-repeat;
  transition: background-size 500ms;
}
#about-me .about-me-inner .about-me-content-right .about-me-text:hover {
  background-size: 100% 100%;
}
@media (max-width: 39.9375rem) {
  #about-me .about-me-inner .about-me-content-right .about-me-text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    font-size: 3rem;
  }
}/*# sourceMappingURL=style.css.map */